/* font used */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 100%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

@font-face {
  font-family: 'MonaSansBold';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 500;
  font-stretch: 125%;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('../font/Druk-Bold-Trial.otf') format('truetype');
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: 'Montserrat', sans-serif;
  --drukBoldTrial: 'DrukBoldTrial';
  --monasansLightNarrow: 'MonaSansLightNarrow';
  --monaSansLight: 'MonaSansLight';
  --monaSansBold: 'MonaSansBold';
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

/* home sections -------------------------------------------------------- */

.home-container {
  padding: 10rem 0 10rem 5%;
}

.cta-text1 h2 {
  font-size: calc(1rem + 1vw);
}

.cta-text2 {
  padding: 2rem 0 3rem 0;
}

.cta-text2 h1 {
  font-size: calc(10rem + 1vw);
  line-height: 11rem;
}

.cta-paragraph p {
  font-size: calc(0.3rem + 1vw);
  width: 50%;
  line-height: 3rem;
}

/* ---------------------------------------------------------- right side  */

/* short biography ------------------------------------------------- */

.biography-container h1 {
  font-size: calc(6rem + 1vw);
  letter-spacing: 0.3rem;
  padding-bottom: 5rem;
}

.text-higlight p {
  font-size: calc(0.3rem + 1vw);
  line-height: 3rem;
  padding: 0 10rem 0 0;
}

/* gallery showcase ----------------------------------------------------- */

.showcase-container {
  padding: 10rem 5% 10rem 5%;
}

/*  title showcase menu */

.showcase-title {
  padding: 0 10rem 0 0;
  flex: 1 1 40rem;
}

.showcase-title h1 {
  padding: 3rem 0;
  font-size: calc(6rem + 1vw);
}

.showcase-title p {
  font-size: calc(0.3rem + 1vw);
  line-height: 3rem;
  padding: 0 0 0 0;
}
/*  gallery showcase menu */

.video1-style {
  grid-column: 1/3;
}

/* closing sections ------------------------------------------------------- */

.text-title h1 {
  font-size: calc(7rem + 1vw);
}
