/* font used */

@font-face {
  font-family: "NelaSlabMedium";
  src: url("../font/NelaSlab\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NelaSlabLight";
  src: url("../font/NelaSlab\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "NewEleganceSansCondensed";
  src: url("../font/TheNewElegance-Condensed.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceItalic";
  src: url("../font/TheNewElegance-Italic.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceCondita";
  src: url("../font/TheNewElegance-CondIta.otf") format("opentype");
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
  --nelaSlabLightFont: "NelaSlabLight";
  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondensed: "NewEleganceSansCondensed";
  --newEleganceItalic: "NewEleganceItalic";
  --newEleganceCondita: "NewEleganceCondita";
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

/* navbar sections */

/* opacity burger menu sections -------------------------------------------------------- */

/* home sections -------------------------------------------------------- */

/* --------------------------------------------------------------- left text  */

.cta1,
.cta1-x,
.cta2 {
  font-size: calc(5rem + 1vw);
}

.cta3,
.cta4,
.cta5 {
  font-size: calc(2rem + 1vw);
}

.cta6 {
  font-size: calc(1rem + 1vw);
  padding: 0 20rem 0 0;
}

/* ---------------------------------------------------------- right side  */

/* short biography ------------------------------------------------- */

.biography-container h1 {
  font-size: calc(4rem + 1vw);
}

.biography-container p {
  font-size: calc(1rem + 1vw);
}

/* gallery showcase ----------------------------------------------------- */

.retro-style {
  grid-column: 1/2;
}

.vector-style {
  grid-column: 1/2;
}

.title-style {
  grid-column: 2/3;
  padding: 5rem;
}

.web-style {
  grid-column: 1/2;
}

.motion-style {
  grid-column: 2/3;
  grid-row: 2/4;
}

.title-style {
  background: rgb(84, 81, 116);
  filter: grayscale(70%);
}

.title-style h1 {
  font-size: calc(4rem + 1vw);
}

.retro-content,
.vector-content,
.motion-content,
.web-content {
  font-size: calc(4rem + 1vw);
}

/* ---------------------------------------------------  download menu */

.short-paragprah-text1,
.short-paragprah-text2,
.short-paragprah-text3 {
  font-size: calc(4rem + 1vw);
}

.download-menu p {
  text-align: center;
  font-size: calc(1rem + 1vw);
  padding: 0 20rem;
}

.cv-btn {
  font-size: calc(0.4rem + 1vw);
  margin: 5rem 0 0 0;
  padding: 1rem 5rem;
}

/* closing sections ------------------------------------------------------- */

.text-title h1 {
  font-size: calc(5rem + 1vw);
}

.text-title p {
  font-size: calc(0.5rem + 1vw);
  padding: 3rem 0 5rem 0;
}

/* footer ---------------------------------------------  */
