/* font used */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 100%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

@font-face {
  font-family: 'MonaSansBold';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 500;
  font-stretch: 125%;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('../font/Druk-Bold-Trial.otf') format('truetype');
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: 'Montserrat', sans-serif;
  --drukBoldTrial: 'DrukBoldTrial';
  --monasansLightNarrow: 'MonaSansLightNarrow';
  --monaSansLight: 'MonaSansLight';
  --monaSansBold: 'MonaSansBold';
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

.menu1 img,
.menu2 img,
.menu3 img,
.menu4 img,
.menu5 img {
  width: calc(0.5rem + 1vw);
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
  padding: 0.5rem 0;
  width: calc(0.5rem + 1vw);
  opacity: 1;
}

/* home sections -------------------------------------------------------- */

.cta-text2 h1 {
  font-size: calc(6rem + 1vw);
}

.cta-paragraph p {
  font-size: calc(0.7rem + 0.5vw);
  line-height: 3rem;
}

/* short biography ------------------------------------------------- */

.biography-container h1 {
  font-size: calc(5rem + 1vw);
}

.text-higlight p {
  font-size: calc(0.7rem + 0.5vw);
  line-height: 3rem;
}

/* gallery showcase ----------------------------------------------------- */

.showcase-title h1 {
  font-size: calc(4rem + 1vw);
}

.showcase-title p {
  font-size: calc(0.7rem + 0.5vw);
  line-height: 3rem;
}

/* closing sections ------------------------------------------------------- */

.text-title h1 {
  font-size: calc(6rem + 1vw);
  line-height: 8rem;
}

.text-title p {
  font-size: calc(0.7rem + 0.5vw);
}

.email-button {
  font-size: calc(0.7rem + 0.5vw);
}

.footer-container p {
  font-size: calc(0.5rem + 0.5vw);
}
