/* font used */

@font-face {
  font-family: 'NelaSlabMedium';
  src: url('../font/NelaSlab\ Medium.ttf') format('truetype');
}

/* mona font -------------------------------------------------------------- */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 125%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: 'NelaSlabMedium';
  --nelaSlabLightFont: 'NelaSlabLight';
  --poppinsFont: 'Poppins', sans-serif;
  --montserratFont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

/* lenis scrool css setup  ------------------------------------------*/

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* navbar sections */

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68vw;
  min-height: 10vh;
  padding: 0 5%;
  z-index: 20;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(20px);
  font-family: var(--montserratFont);
}

.logo-navbar {
  font-size: calc(1rem + 1vw);
  opacity: 0;
  letter-spacing: 0.2rem;
}

.logo-navbar a {
  text-decoration: none;
  color: var(--whiteColor);
}

.menu-navbar {
  list-style-type: none;
  padding: 1rem 3rem;
  border-radius: 10rem;
}

.menu-navbar li {
  display: inline-block;
  padding: 0 1rem;
  letter-spacing: 0.1rem;
}

.menu-navbar li a {
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-size: calc(0.6rem + 1vw);
  font-weight: bold;
}

.menu-navbar li a:hover {
  color: rgb(255, 255, 255);
}

.menu1,
.menu2 {
  opacity: 0;
}

.burger {
  display: none;
}

/* opacity burger menu sections -------------------------------------------------------- */

.blur-burger-menu {
  display: none;
}

/* home sections -------------------------------------------------------- */

#home {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.home-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.home-container svg {
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  opacity: 0;
}

/* --------------------------------------------------------------- left text  */

.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2 1 0%;
  color: var(--whiteColor);
  padding: 10rem 0 10rem 5%;
}

.cta-text1 H2,
.cta-text2 h2,
.cta-paragraph p {
  overflow: hidden;
}

.cta-text1 span,
.cta-text2 span,
.cta-paragraph span {
  display: block;
}

.cta1-first h2 {
  display: flex;
}

.cta1,
.cta1-x,
.cta2 {
  font-size: calc(5.5rem + 1vw);
  font-family: 'MonaSansLight';
  letter-spacing: 0.5rem;
  opacity: 0;
  text-transform: uppercase;
}

.cta1-x {
  padding-left: 3rem;
}

.cta-text2 {
  padding: 3rem 0rem;
  display: flex;
}

.cta-text2 span {
  padding: 0rem 1rem 0rem 0rem;
}

.cta3,
.cta4,
.cta5 {
  font-size: calc(3rem + 1vw);
  font-family: 'MonaSansLightNarrow';
  letter-spacing: 0.7rem;
  opacity: 0;
}

.cta6 {
  font-size: calc(1rem + 1vw);
  font-family: var(--montserratFont);
  width: 80%;
  padding: 0 10rem 0 0;
  opacity: 0;
}

/* ---------------------------------------------------------- right side  */

.right-image {
  position: relative;
  flex: 1 1 0%;
  filter: grayscale(50%);
  opacity: 0;
  width: 100%;
  height: 100%;
}

.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* short biography ------------------------------------------------- */

#biography {
  position: relative;
  width: 100vw;
  color: var(--whiteColor);
}

.biography-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 4rem;
  width: 100%;
  height: 100%;
  padding: 10rem 0 5rem 5%;
}

.biography-container h1 {
  font-size: calc(6rem + 1vw);
  font-family: var(--montserratFont);
  letter-spacing: 0.3rem;
  padding-bottom: 8rem;
}

.text-container {
  font-size: calc(1.5rem + 1vw);
  font-family: var(--poppinsFont);
  line-height: 7rem;
  padding: 0 15rem 0 0;
}

/* gallery showcase ----------------------------------------------------- */

#showcase {
  position: relative;
  width: 100vw;
}

.showcase-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10rem 10rem 10rem 5%;
}

.gallery-showcase {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
  padding: 5rem 0;
}

.retro-style {
  grid-column: 1/2;
}

.vector-style {
  grid-column: 2/3;
}

.web-style {
  grid-column: 1/2;
}

.motion-style {
  grid-column: 2/3;
  grid-row: 2/3;
}

.retro-style,
.vector-style,
.motion-style,
.web-style {
  flex: 1 1 0%;
  margin: 0.5rem 0;
}

.retro-style img,
.vector-style img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.motion-style video,
.web-style video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.retro-title,
.vector-title,
.motion-title,
.web-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(8px);
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: 0.5s ease;
}

.retro-content,
.vector-content,
.motion-content,
.web-content {
  position: absolute;
  color: var(--whiteColor);
  font-family: var(--montserratFont);
  top: 50%;
  left: 60%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.retro-content,
.vector-content,
.motion-content,
.web-content {
  font-size: calc(5rem + 1vw);
}

.retro-style:hover .retro-title {
  width: 100%;
}

.vector-style:hover .vector-title {
  width: 100%;
}

.motion-style:hover .motion-title {
  width: 100%;
}

.web-style:hover .web-title {
  width: 100%;
}

/* ---------------------------------------------------  download menu */

.download-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 0 0 2rem 0;
}

.title-short-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2% 0;
}

.short-paragprah-text1,
.short-paragprah-text2,
.short-paragprah-text3 {
  padding: 0.4rem;
  font-size: calc(6rem + 1vw);
  font-family: var(--montserratFont);
  letter-spacing: 0.3rem;
}

.download-menu p {
  text-align: center;
  font-size: calc(1rem + 1vw);
  line-height: 3rem;
  font-family: var(--montserratFont);
  padding: 0 15rem;
}

.resume-hyperlink a,
.portfolio-hyperlink a {
  color: rgb(208, 221, 88);
  text-decoration: none;
}

/* closing sections ------------------------------------------------------- */

#closing-sections {
  position: relative;
  width: 100vw;
  color: var(--whiteColor);
}

.closing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem 10rem 25rem 5%;
}

.text-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.3rem;
}

.text-title h1 {
  font-family: var(--montserratFont);
  font-size: calc(7rem + 1vw);
  text-align: center;
  padding: 0 10rem 1rem 10rem;
}

.text-title h6 {
  font-size: calc(1.5rem + 1vw);
  font-family: 'MonaSansLightNarrow';
  text-align: center;
  line-height: 1.7rem;
  padding: 3rem 0 3rem 0;
}

.text-title p {
  font-size: calc(1rem + 1vw);
  font-family: var(--montserratFont);
  text-align: center;
  line-height: 1.7rem;
  padding: 2rem 0 2rem 0;
}

.text-title a {
  color: rgb(208, 221, 88);
  text-decoration: none;
}
