/* font used */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 100%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

@font-face {
  font-family: 'MonaSansBold';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 500;
  font-stretch: 125%;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('../font/Druk-Bold-Trial.otf') format('truetype');
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: 'Montserrat', sans-serif;
  --drukBoldTrial: 'DrukBoldTrial';
  --monasansLightNarrow: 'MonaSansLightNarrow';
  --monaSansLight: 'MonaSansLight';
  --monaSansBold: 'MonaSansBold';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
  color: var(--darkWhiteColor);
}

/* smooth scrool snap  ------------------------------------------*/

.main-content {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

/* lenis scrool css setup  ------------------------------------------*/

/* html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
} */

/* --------------------------------------------------------------- left text  */

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkWhiteColor);
  padding: 10rem 0 10rem 5%;
  gap: 15px 0;
}

.cta-text1,
.cta-text2,
.cta-paragraph {
  overflow: hidden;
}

.cta-text1 h2 {
  font-size: calc(1rem + 1vw);
  font-family: var(--monasansLightNarrow);
  transform: translateX(-100%);
  transform-origin: left;
  opacity: 0;
}

.cta-text2 {
  display: flex;
  gap: 0 15px;
}

.cta-text2 h1 {
  font-size: calc(9rem + 1vw);
  font-family: var(--drukBoldTrial);
  transform: translateY(0%);
  transform-origin: top;
  opacity: 0;
}

.cta-paragraph p {
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  line-height: 3rem;
  transform: translateY(100%);
  transform-origin: bottom;
  opacity: 0;
}

.link-social-media {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  min-height: 5vh;
  z-index: 20;
  border-radius: 5rem;
  transform: translateY(0);
  gap: 2rem;
  opacity: 1;
  margin-top: 1rem;
}

.menu-social-media img {
  width: 100%;
}

.menu-social-media {
  width: 4%;
  opacity: 0;
}

/* ---------------------------------------------------------- right side  */

.right-image {
  position: fixed;
  top: 0;
  left: 10;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 31%;
  height: 100%;
}

.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* short biography ------------------------------------------------- */

#biography {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--darkWhiteColor);
}

.biography-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 10rem 0 5rem 5%;
  gap: 15px 0;
}

.biography-container h1 {
  font-size: calc(8rem + 1vw);
  font-family: var(--drukBoldTrial);
}

.text-higlight p {
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 3rem;
  padding: 0 0rem 2rem 0;
}

.bottom-border {
  height: 0.3rem;
  background: rgb(155, 155, 155);
  position: relative;
  top: 2%;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

/* gallery showcase ----------------------------------------------------- */

#showcase {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--darkWhiteColor);
}

.showcase-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 5% 15rem 5%;
}

/*  title showcase menu */

.showcase-title {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 5rem;
  flex: 1 1 40rem;
  gap: 15px 0;
}

.showcase-title h1 {
  font-size: calc(6rem + 1vw);
  font-family: var(--drukBoldTrial);
  transform: translateX(-100%);
  opacity: 0;
}

.showcase-title p {
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 3rem;
  padding-right: 15rem;
  transform: translateX(-100%);
  opacity: 0;
}

/*  arrow showcase */

.arrow-hyperlink {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.hyperlink-gallery {
  display: flex;
  align-items: center;
  gap: 2rem;
  transform: translateX(-100%);
  opacity: 0;
}

.hyperlink-gallery img {
  width: 20px;
  height: 20px;
}

.heading-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 2rem;
}

.heading-container p {
  font-size: calc(0.7rem + 0.5vw);
  color: rgb(255, 255, 255);
  transform: translateY(50%);
  line-height: 2rem;
}

/*  gallery showcase menu */

.gallery-showcase {
  width: 100%;
  height: 100%;
  filter: grayscale(70%);
  flex: 1 1 40rem;
}

.gallery-showcase video {
  transform: translate(100%);
  transform-origin: right;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/* closing sections ------------------------------------------------------- */

#closing-sections {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: var(--darkWhiteColor);
}

.closing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.text-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.text-title h1 {
  font-family: var(--drukBoldTrial);
  font-size: calc(6rem + 1vw);
}

.text-title p {
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.email-button {
  font-family: var(--poppinsFont);
  font-size: calc(1rem + 0.5vw);
  cursor: pointer;
  transform: scaleY(1);
  transform-origin: center;
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
}

.email-button a {
  color: white;
  text-decoration: none;
}
