/* font used */

@font-face {
  font-family: "NelaSlabMedium";
  src: url("../font/NelaSlab\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NelaSlabLight";
  src: url("../font/NelaSlab\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "NewEleganceSansCondensed";
  src: url("../font/TheNewElegance-Condensed.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceItalic";
  src: url("../font/TheNewElegance-Italic.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceCondita";
  src: url("../font/TheNewElegance-CondIta.otf") format("opentype");
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
  --nelaSlabLightFont: "NelaSlabLight";
  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondensed: "NewEleganceSansCondensed";
  --newEleganceItalic: "NewEleganceItalic";
  --newEleganceCondita: "NewEleganceCondita";
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/* navbar */

.burger span {
  width: 100%;
  height: 100%;
}

.menu-navbar li {
  padding: 2.5rem 7rem 2.5rem 5rem;
}

.menu-navbar li a {
  font-size: calc(1.7rem + 1vw);
}

.navbar-open {
  transform: translate(-50%);
}

/* home */

.cta1,
.cta2,
.cta1-x {
  font-size: calc(2.5rem + 1vw);
}

/* biography ------------------------------------------------------------------ */

.img-photo-agung img {
  padding: 5rem 15rem 0 0;
}

.short-paragraph h1 {
  font-size: calc(2rem + 1vw);
}

.short-paragraph p {
  font-size: calc(1rem + 1vw);
  line-height: 2rem;
}

/* gallery showcase ----------------------------------------------- */

.gallery-showcase-container {
  padding: 10rem 5rem 0 5rem;
}

.gallery-showcase-container h2 {
  font-size: calc(2rem + 1vw);
  padding-bottom: 2rem;
}

.retro-style,
.vector-style,
.motion-style {
  width: 130%;
}

.retro-content,
.vector-content,
.motion-content {
  font-size: calc(1rem + 1vw);
}

/* portfolio section ------------------------------------------------------ */

#porfolio-section {
  min-height: 55vh;
}

.title-short-paragraph {
  flex-direction: column;
}

.short-paragprah-text1,
.short-paragprah-text2,
.short-paragprah-text3 {
  font-size: calc(2rem + 1vw);
}

.short-paragprah-portfolio p {
  padding: 0 5rem;
  font-size: calc(0.8rem + 1vw);
}

.titlecv-download {
  font-size: calc(0.5rem + 1vw);
}

/* closing sections ----------------------------------------------------------- */

#closing-sections {
  min-height: 125vh;
}

.closing-container {
  height: 100%;
  padding-top: 5rem;
}

.text-closing h1 {
  font-size: calc(2.5rem + 1vw);
}

.text-closing p {
  font-size: calc(0.8rem + 1vw);
  text-align: center;
  width: 70%;
}
/* form sections -------------------------------------------------------------- */

.form {
  padding: 2rem 0;
}

.input-name,
.input-email,
.input-subject {
  padding: 0.5rem 10rem 0.5rem 0.2rem;
}

.input-message {
  padding: 0.5rem 10rem 8.5rem 0.2rem;
}

.button-email {
  padding: 0.7rem 10.7rem;
}

/* wa sections -------------------------------------------------------------- */

.wa-contact {
  width: 50vw;
  height: 8vh;
}

.wa-contact img {
  left: 0;
  width: 30%;
}
