/* simple css --------------------------------------------------- */

#home,
#biography,
#showchase-grid-container,
#motion-grid,
#graphic-design-grid {
  padding: 5% 0;
}

.cta-text2 h1 {
  font-size: calc(6rem + 1vw);
}

.biography-container h1,
.title-showchase h1 {
  font-size: calc(4rem + 1vw);
}

.copyright h1,
.logo-mask h1,
.main-navbar-menu p,
.cta-paragraph p,
.title-showchase p,
.text-higlight p,
.button-contact p {
  font-size: calc(1rem + 0.5vw);
  line-height: 2rem;
}

.cta-text1 h2,
.top-description h1,
.narasihistorian-hyperlink h1,
.motion-description h1,
.graphic-design-description h1,
.top-description p,
.heading-container p,
.motion-description p,
.graphic-design-description p {
  font-size: calc(0.7rem + 0.5vw);
}

/* NAVBAR --------------------------------------------------- */

.menu-navbar {
  gap: 2rem;
}

/* MAIN HOME --------------------------------------------------- */

.home-container {
  padding: 5rem 0;
  gap: 5rem;
}

.link-social-media {
  gap: 2rem;
}

.menu-social-media {
  width: 8%;
}

.home-title {
  gap: 3rem;
}

/* ABOUT PAGE -------------------------------------------------------- */

.biography-container {
  gap: 3rem;
}

/* SHOWCHASE PAGE -------------------------------------------------------- */

.Carousel-title-showchase h6 {
  font-size: calc(1.5rem + 0.5vw);
}

.top-description h1 {
  font-size: calc(1.5rem + 0.5vw);
}

.heading-container {
  height: 10px;
}

/* MOTION & VECTOR PAGE ----------------------------------------------------------- */

.motion-2 {
  grid-column: 1/5;
}

.motion-3 {
  grid-column: 1/5;
}
