/* font used */

@font-face {
  font-family: "NelaSlabMedium";
  src: url("../font/NelaSlab\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NelaSlabLight";
  src: url("../font/NelaSlab\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "NewEleganceSansCondensed";
  src: url("../font/TheNewElegance-Condensed.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceItalic";
  src: url("../font/TheNewElegance-Italic.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceCondita";
  src: url("../font/TheNewElegance-CondIta.otf") format("opentype");
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
  --nelaSlabLightFont: "NelaSlabLight";
  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondensed: "NewEleganceSansCondensed";
  --newEleganceItalic: "NewEleganceItalic";
  --newEleganceCondita: "NewEleganceCondita";
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar sections */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 10%;
  z-index: 20;
}

.logo-navbar {
  font-family: var(--montserratFont);
  font-size: calc(2rem + 1vw);
  opacity: 0;
  letter-spacing: 0.2rem;
}

.logo-navbar a {
  text-decoration: none;
  color: var(--whiteColor);
}

.menu-navbar {
  list-style-type: none;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(8px);
  padding: 1rem 3rem;
  border-radius: 10rem;
}

.menu-navbar li {
  display: inline-block;
  padding: 0 1rem;
  font-family: var(--montserratFont);
  letter-spacing: 0.1rem;
}

.menu-navbar li a {
  color: rgb(184, 184, 184);
  text-decoration: none;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
}

.menu-navbar li a:hover {
  color: rgb(255, 255, 255);
}

.burger {
  display: none;
}

/* opacity burger menu sections -------------------------------------------------------- */

.blur-burger-menu {
  display: none;
}

/* home sections -------------------------------------------------------- */

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #222222;
}

.home-container {
  display: flex;
  position: absolute;
  min-height: 80%;
  width: 100%;
}

.home-container svg {
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  opacity: 0;
}

.cta {
  position: absolute;
  top: 0;
  left: 10%;
  color: var(--whiteColor);
  flex-direction: column;
}

.cta-text1 {
  padding-top: 15%;
}

.cta1-first H2,
.cta-text2 h2,
.cta h2 {
  overflow: hidden;
}

.cta1-first h2 {
  display: flex;
}

.cta-text1 span,
.cta-text2 span {
  display: block;
}

.cta1 {
  padding-right: 5%;
}

.cta1,
.cta2,
.cta1-x {
  font-size: calc(7rem + 1vw);
  font-family: var(--newEleganceCondensed);
  letter-spacing: 0.5rem;
  opacity: 0;
}

.cta-text2 {
  padding: 1.8rem 0rem;
  display: flex;
}

.cta-text2 span {
  padding: 0rem 1rem 0rem 0rem;
}

.cta3,
.cta4,
.cta5 {
  font-size: calc(1rem + 1vw);
  font-family: var(--montserratFont);
  letter-spacing: 0.7rem;
  opacity: 0;
}

/* short biography ------------------------------------------------- */

#biography {
  position: relative;
  background: var(--whiteColor);
  min-height: 100vh;
  width: 100vw;
}

.biography-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(10, 9, 9);
}

.biography-container,
.short-paragraph {
  flex: 1;
}

.img-photo-agung {
  position: relative;
  width: 50%;
  height: 100%;
}

.img-photo-agung img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10% 20% 0 0;
  object-fit: cover;
}

.short-paragraph {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10% 0 0 0;
}

.short-paragraph h1 {
  font-size: calc(4rem + 1vw);
  letter-spacing: 0.3rem;
  padding-bottom: 3rem;
  font-family: var(--newEleganceItalic);
}

.short-paragraph p {
  font-size: calc(0.5rem + 1vw);
  line-height: 4rem;
  width: 85%;
}

/* gallery showcase ----------------------------------------------------- */

#gallery-showcase {
  position: relative;
  width: 100vw;
  min-height: 150vh;
  background: white;
}

.gallery-showcase-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10rem 10rem 0 10rem;
}

.gallery-showcase-left {
  padding-bottom: 5rem;
}

.gallery-showcase-left h2 {
  font-size: calc(4rem + 1vw);
  font-family: var(--newEleganceCondita);
  padding-bottom: 5rem;
}

.gallery-showcase-left p {
  font-size: calc(0.5rem + 1vw);
  line-height: 4rem;
  width: 100%;
}

.gallery-showcase-right {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.retro-style {
  grid-column: 1/3;
}

.vector-style {
  grid-column: 1/2;
}

.web-style {
  grid-column: 1/2;
}

.motion-style {
  grid-row: 2/4;
  grid-column: 2/3;
}

.retro-style,
.vector-style,
.motion-style,
.web-style {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0.5rem 0;
}

.retro-style img,
.vector-style img,
.web-style img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.motion-style video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.retro-title,
.vector-title,
.motion-title,
.web-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(8px);
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: 0.5s ease;
}

.retro-content,
.vector-content,
.motion-content,
.web-content {
  position: absolute;
  color: var(--whiteColor);
  font-family: var(--newEleganceCondensed);
  top: 50%;
  left: 40%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.retro-content {
  font-size: calc(4rem + 1vw);
}

.vector-content {
  font-size: calc(1.5rem + 1vw);
}

.motion-content {
  font-size: calc(1.5rem + 1vw);
}

.web-content {
  font-size: calc(1.5rem + 1vw);
}

.retro-style:hover .retro-title {
  width: 100%;
}

.vector-style:hover .vector-title {
  width: 100%;
}

.motion-style:hover .motion-title {
  width: 100%;
}

.web-style:hover .web-title {
  width: 100%;
}

/* portfolio gallery --------------------------------------------------- */

#porfolio-section {
  position: relative;
  background: var(--whiteColor);
  width: 100vw;
  min-height: 70vh;
  overflow: hidden;
}

.portfolio-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.short-paragprah-portfolio {
  text-align: center;
}

.title-short-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 2% 0;
}

.short-paragprah-text1,
.short-paragprah-text2,
.short-paragprah-text3 {
  padding: 0.4rem;
  font-size: calc(4rem + 1vw);
  font-family: var(--newEleganceItalic);
  letter-spacing: 0.3rem;
}

.short-paragprah-portfolio p {
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  line-height: 3rem;
  font-family: var(--poppinsFont);
  padding: 0 35rem;
}

.resume-hyperlink a,
.portfolio-hyperlink a {
  color: var(--blackColor);
}

.cv-btn {
  position: relative;
  margin: 3rem 0 0 0;
  padding: 1rem 5rem;
  background: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5.7rem;
  color: var(--blackColor);
  font-size: calc(0.4rem + 1vw);
  cursor: pointer;
}

/* closing sections ------------------------------------------------------- */

#closing-sections {
  position: relative;
  background: #222222;
  width: 100vw;
  min-height: 100vh;
}

.closing-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--whiteColor);
  letter-spacing: 0.3rem;
  width: 70%;
}

.text-title h1 {
  font-family: var(--newEleganceCondensed);
  font-size: calc(5rem + 1vw);
  padding: 0 10rem;
  text-align: center;
}

.text-title p {
  font-size: calc(0.5rem + 1vw);
  font-family: var(--poppinsFont);
  line-height: 1.7rem;
  padding: 3rem 0 5rem 0;
}

/* contact sections -------------------------------------------------------------- */

.text-contact {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.wa-email-color {
  fill: var(--whiteColor);
}

.text-wa {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 50px;
  width: 40%;
  height: 60%;
}

.wa-icon {
  position: relative;
  width: calc(100% + 1vw);
  height: 100%;
  object-fit: cover;
  padding: 3rem;
}

.text-wa h6 {
  position: relative;
  color: var(--whiteColor);
  font-family: var(--montserratFont);
  letter-spacing: 0.2rem;
  font-size: calc(0.5rem + 1vw);
  padding: 3rem;
}

.text-email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50px;
  width: 40%;
  height: 60%;
}

.email-icon {
  position: relative;
  width: calc(100% + 1vw);
  height: 100%;
  padding: 3rem;
  object-fit: cover;
}

.text-email h6 {
  position: relative;
  color: var(--whiteColor);
  font-family: var(--montserratFont);
  letter-spacing: 0.2rem;
  font-size: calc(0.5rem + 1vw);
  padding: 3rem;
}
