/* font used */

@font-face {
  font-family: 'NelaSlabMedium';
  src: url('../font/NelaSlab\ Medium.ttf') format('truetype');
}

/* mona font -------------------------------------------------------------- */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 125%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: 'NelaSlabMedium';
  --nelaSlabLightFont: 'NelaSlabLight';
  --poppinsFont: 'Poppins', sans-serif;
  --montserratFont: 'Montserrat', sans-serif;
  --newEleganceCondensed: 'NewEleganceSansCondensed';
  --newEleganceItalic: 'NewEleganceItalic';
  --newEleganceCondita: 'NewEleganceCondita';
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar --------------------------------------------------------------- */

nav {
  left: 0;
  width: 100vw;
}

.logo-navbar {
  font-size: calc(2rem + 1vw);
}

/* blur burger menu ---------------------------------------------------------- */

.blur-burger-menu {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(8px);
}

.blur-open {
  transform: translate(-100%);
}

/* burger menu ---------------------------------------------------------- */

.burger {
  position: relative;
  display: block;
  opacity: 0;
  padding-right: 5rem;
}

.burger span {
  padding: 0.1rem 1rem;
  background: rgb(255, 255, 255);
  margin: 0.3rem 0rem;
  display: block;
  transition: all 0.5s ease;
  width: 200%;
  height: 200%;
}

.menu-navbar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(82px);
  left: 0;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  border-radius: 1rem;
}

.menu-navbar li {
  padding: 5rem 0;
}

.menu-navbar li a {
  font-size: calc(6rem + 1vw);
  color: rgb(255, 255, 255);
}

.navbar-open {
  transform: translateY(100%);
}

.toggle .line1 {
  transform: rotateZ(35deg) translateY(300%);
  background: rgb(255, 255, 255);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotateZ(-35deg) translateY(-300%);
  background: rgb(255, 255, 255);
}

.char {
  transform: translateY(115px);
  transition: 0.5s;
}

/* home ----------------------------------------------------------------- */

.home-container {
  display: flex;
  flex-direction: column;
}

.home-container svg {
  top: 20%;
  left: 25%;
}

/* --------------------------------------------------------------- left text  */

.cta {
  padding: 15rem 0 10rem 5%;
}

.cta1,
.cta1-x,
.cta2 {
  font-size: calc(6rem + 1vw);
}

.cta3,
.cta4,
.cta5 {
  font-size: calc(1.5rem + 1vw);
}

.cta6 {
  font-size: calc(1rem + 1vw);
}

/* ---------------------------------------------------------- right side  */

.right-image {
  width: 40%;
  height: 100%;
}

/* short biography ------------------------------------------------------ */

.biography-container {
  padding: 10rem 0 5rem 5%;
}

.text-container {
  line-height: 5rem;
  padding: 0 10rem 0 0;
}

/* gallery showcase ----------------------------------------------- */

.showcase-container {
  padding: 5rem 5% 5rem 5%;
}

.retro-style {
  grid-column: 1/3;
}

.vector-style {
  grid-column: 1/3;
}

.web-style {
  grid-column: 1/2;
}

.motion-style {
  grid-column: 2/3;
  grid-row: 3/3;
}

.retro-content,
.vector-content {
  font-size: calc(4rem + 1vw);
}

.motion-content,
.web-content {
  font-size: calc(2rem + 1vw);
}

/* ---------------------------------------------------  download menu */

.short-paragprah-text1,
.short-paragprah-text2,
.short-paragprah-text3 {
  font-size: calc(3rem + 1vw);
}

.download-menu p {
  padding: 0 5rem;
}

/* closing sections ----------------------------------------------------------- */

.closing-container {
  padding: 5rem 0rem 20rem 0%;
}

.text-title h1 {
  font-size: calc(4rem + 1vw);
}
