/* font used */

@font-face {
  font-family: 'NelaSlabMedium';
  src: url('../font/NelaSlab\ Medium.ttf') format('truetype');
}

/* mona font -------------------------------------------------------------- */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 125%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: 'NelaSlabMedium';
  --nelaSlabLightFont: 'NelaSlabLight';
  --poppinsFont: 'Poppins', sans-serif;
  --montserratFont: 'Montserrat', sans-serif;
  --newEleganceCondensed: 'NewEleganceSansCondensed';
  --newEleganceItalic: 'NewEleganceItalic';
  --newEleganceCondita: 'NewEleganceCondita';
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar sections ---------------------------------------------------------- */

.menu-navbar {
  padding: 0 5rem;
  top: 90%;
  gap: 3rem;
}

.menu1 img,
.menu2 img,
.menu3 img,
.menu4 img,
.menu5 img {
  width: calc(2rem + 1vw);
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
  padding: 1rem 0;
  width: calc(2rem + 1vw);
}
/* home ----------------------------------------------------------------- */

.main-content {
  scroll-snap-type: none;
  overflow-y: none;
  overflow-x: none;
  scroll-behavior: smooth;
  width: none;
  height: none;
}

section {
  scroll-snap-align: none;
}

#home {
  width: auto;
  height: auto;
}

.home-container {
  padding: 10rem 0 10rem 5%;
  gap: 30px 0;
}

.cta-text2 {
  flex-direction: column;
}

.cta-text2 h1 {
  font-size: calc(7rem + 1vw);
  line-height: 8rem;
}

.cta-paragraph p {
  font-size: calc(1rem + 1vw);
  line-height: 3rem;
}

.right-image {
  position: absolute;
  top: 15%;
  left: 60%;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 90%;
}

/* short biography ------------------------------------------------------ */

#biography {
  width: auto;
  height: auto;
}

.biography-container {
  padding: 10rem 5% 5rem 5%;
  width: 100%;
}

.biography-container h1 {
  font-size: calc(5rem + 1vw);
}

.text-higlight p {
  font-size: calc(1rem + 1vw);
  line-height: 3rem;
}

/* gallery showcase ----------------------------------------------- */

#showcase {
  width: auto;
  height: auto;
}

.showcase-container {
  flex-direction: column-reverse;
  padding: 2rem 5% 0 5%;
}

.showcase-title {
  flex: none;
  padding-right: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.showcase-title h1 {
  font-size: calc(5rem + 1vw);
}

.showcase-title p {
  font-size: calc(1rem + 1vw);
  line-height: 3rem;
  padding-right: 3rem;
}

.gallery-showcase {
  flex: none;
}

/* closing sections ----------------------------------------------------------- */

#closing-sections {
  width: auto;
  height: auto;
}

.closing-container {
  padding: 5rem 5% 25rem 5%;
  border-top: 1px solid rgb(155, 155, 155);
  width: 90%;
  margin: auto;
}

.text-title h1 {
  font-size: calc(5rem + 1vw);
  line-height: 6rem;
}

.text-title p {
  font-size: calc(1rem + 0.5vw);
  text-align: center;
}
