/* font used */

@font-face {
  font-family: "NelaSlabMedium";
  src: url("../font/NelaSlab\ Medium.ttf") format("truetype");
}

/* mona font -------------------------------------------------------------- */

@font-face {
  font-family: "MonaSansLight";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("../font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200;
  font-stretch: 125%;
}

@font-face {
  font-family: "MonaSansLightNarrow";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("../font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200;
  font-stretch: 75%;
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
  --nelaSlabLightFont: "NelaSlabLight";
  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondensed: "NewEleganceSansCondensed";
  --newEleganceItalic: "NewEleganceItalic";
  --newEleganceCondita: "NewEleganceCondita";
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar --------------------------------------------------------------- */

nav {
  left: 0;
  width: 100vw;
}

.logo-navbar {
  font-size: calc(2rem + 1vw);
}

/* burger menu ---------------------------------------------------------- */

.burger {
  position: relative;
  display: block;
  padding-right: 5rem;
}

.burger span {
  padding: 0.1rem 1rem;
  background: rgb(255, 255, 255);
  margin: 0.3rem 0rem;
  display: block;
  transition: all 0.5s ease;
  width: 200%;
  height: 200%;
}

.menu-navbar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #2b2730;
  transform: scaleY(0);
  transform-origin: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-navbar li {
  padding: 5rem 0;
  border-bottom: 2px solid white;
  opacity: 1;
}

.menu-navbar li a {
  font-size: calc(4rem + 1vw);
  color: rgb(255, 255, 255);
}

/* home ----------------------------------------------------------------- */

.cta-text1 {
  padding: 1rem 0rem;
}

.cta1 {
  padding-right: 1.5rem;
}

.cta1,
.cta2 {
  font-size: calc(10rem + 1vw);
}

.cta3 {
  font-size: calc(2rem + 1vw);
}

.cta6 {
  font-size: calc(1rem + 1vw);
  width: 50%;
  padding: 0 0rem 5rem 0;
}

/* ---------------------------------------------------------- right side  */

.right-image {
  position: absolute;
  top: 0;
  left: 10;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
}

/* short biography ------------------------------------------------------ */

.biography-container {
  width: 90%;
}

.biography-container h1 {
  font-size: calc(8rem + 1vw);
  padding-bottom: 5rem;
}

.text-higlight p {
  font-size: calc(1rem + 1vw);
  padding: 0 0 0 0;
}

/* gallery showcase ----------------------------------------------- */

#showcase {
  height: 130vh;
}

.showcase-container {
  width: 100%;
  padding: 15rem 10rem 10rem 5%;
}

.gallery-showcase {
  height: 70%;
  padding: 5rem 0 3rem 0;
}

.title-short-paragraph {
  padding: 0 0 2% 0;
}

.short-paragprah-text1,
.short-paragprah-text2,
.short-paragprah-text3 {
  font-size: calc(8rem + 1vw);
}

.download-menu p {
  font-size: calc(1rem + 1vw);
  line-height: 4rem;
  padding: 0 0 0 0;
}

.video1-style {
  grid-column: 1/3;
}

.video2-style {
  grid-column: 1/3;
}

/* closing sections ----------------------------------------------------------- */

.closing-container {
  width: 100%;
}

.text-title h1 {
  font-size: calc(9rem + 1vw);
}

.text-title p {
  font-size: calc(1rem + 1vw);
}

.email-button {
  font-size: calc(1rem + 1vw);
}

.footer-container,
.footer {
  display: none;
  opacity: 0;
}
