/* font used */

@font-face {
  font-family: "NelaSlabMedium";
  src: url("../../font/NelaSlab\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NelaSlabLight";
  src: url("../../font/NelaSlab\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "NewEleganceSansCondensed";
  src: url("../../font/TheNewElegance-Condensed.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceItalic";
  src: url("../../font/TheNewElegance-Italic.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceCondita";
  src: url("../../font/TheNewElegance-CondIta.otf") format("opentype");
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
  --nelaSlabLightFont: "NelaSlabLight";
  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondensed: "NewEleganceSansCondensed";
  --newEleganceItalic: "NewEleganceItalic";
  --newEleganceCondita: "NewEleganceCondita";
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar sections ---------------------------------------------------------- */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 10%;
  background: var(--whiteColor);
  z-index: 20;
}

.logo-navbar-gallery-about {
  font-family: var(--montserratFont);
  font-size: calc(2rem + 1vw);
  letter-spacing: 0.2rem;
}

.logo-navbar-gallery-about a {
  text-decoration: none;
  color: var(--blackColor);
}

.menu-navbar-gallery-about {
  list-style-type: none;
  background: black;
  padding: 1rem 3rem;
  border-radius: 10rem;
}

.menu-navbar-gallery-about li {
  display: inline-block;
  padding: 0 1rem;
  font-family: var(--montserratFont);
  letter-spacing: 0.1rem;
}

.menu-navbar-gallery-about li a {
  color: rgb(202, 197, 197);
  text-decoration: none;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
}

.menu-navbar-gallery-about li a:hover {
  color: var(--whiteColor);
}

.burger-gallery-about {
  display: none;
}

/* galery link sections css ------------------------------------------------- */

#galery {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background: var(--whiteColor);
}

.galery-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title-gallery {
  font-size: calc(7.5rem + 1vw);
  padding-bottom: 3rem;
  letter-spacing: 0.5rem;
  font-family: var(--newEleganceItalic);
}
