/* font used */

@font-face {
  font-family: "MonaSansLight";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("../../font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200;
  font-stretch: 100%;
}

@font-face {
  font-family: "MonaSansLightNarrow";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("../../font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200;
  font-stretch: 75%;
}

@font-face {
  font-family: "MonaSansBold";
  src: url("Mona-Sans.woff2") format("woff2 supports variations"),
    url("../../font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 500;
  font-stretch: 125%;
}

@font-face {
  font-family: "DrukBoldTrial";
  src: url("../../font/Druk-Bold-Trial.otf") format("truetype");
}
/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: "Montserrat", sans-serif;
  --drukBoldTrial: "DrukBoldTrial";
  --monasansLightNarrow: "MonaSansLightNarrow";
  --monaSansLight: "MonaSansLight";
  --monaSansBold: "MonaSansBold";
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

/* poster --------------------------------------------------------------- */

.gallery-poster-container {
  padding: 15rem 5% 5rem 5%;
}

.poster-title-main {
  font-size: calc(6rem + 1vw);
}

.poster-title-submain {
  line-height: 3rem;
}

/* vector ------------------------------------------------------------ */

.title-vector-mask {
  width: 70%;
}

.vector-title h1 {
  font-size: calc(6rem + 1vw);
}

.vector-title p {
  line-height: 3rem;
}

/* video  ---------------------------------------------------------------- */

.gallery-video h1 {
  font-size: calc(6rem + 1vw);
}

.gallery-video p {
  line-height: 3rem;
}

/* ui ux web design ------------------------------------------------------------ */

.narasihistorian-title h1 {
  font-size: calc(6rem + 1vw);
}

.narasihistorian-title p {
  line-height: 3rem;
}

.narasihistorian-about p,
.mybiography-about p,
.prototypemotionweb-about p {
  line-height: 3rem;
}
