/* font used */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 100%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

@font-face {
  font-family: 'MonaSansBold';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 500;
  font-stretch: 125%;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('../../font/Druk-Bold-Trial.otf') format('truetype');
}
/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: 'Montserrat', sans-serif;
  --drukBoldTrial: 'DrukBoldTrial';
  --monasansLightNarrow: 'MonaSansLightNarrow';
  --monaSansLight: 'MonaSansLight';
  --monaSansBold: 'MonaSansBold';
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

/* navbar sections ---------------------------------------------------------- */

.opening-animation {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}

.opening {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  font-family: var(--monaSansBold);
  font-size: 7rem;
  z-index: 5;
  color: #2b2730;
  transform: translateY(0);
}

.loader {
  position: absolute;
  background: #2b2730;
  width: 0;
  height: 0.5vh;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transform-origin: left;
}

/* web development --------------------------------------------------------------- */

.title-uiux {
  font-size: calc(3rem + 1vw);
}

.title-paragraph {
  font-size: calc(0.7rem + 0.5vw);
  line-height: 2rem;
}

.narasihistorian {
  grid-column: 1/2;
}

.khairaskincare {
  grid-column: 2/3;
}

.agungv2 {
  grid-column: 1/2;
}

.antavalley {
  grid-column: 2/3;
}

.narasihistorian-hyperlink h1 {
  font-size: calc(0.5rem + 1vw);
}

.narasihistorian-hyperlink h6 {
  font-size: calc(0.3rem + 0.5vw);
}

/* motion graphic --------------------------------------------------------------- */

.gallery-motion-container {
  padding: 3rem 10% 10rem 10%;
}

.title-motion {
  font-size: calc(3rem + 1vw);
}

.paragraph-motion {
  font-size: calc(0.7rem + 0.5vw);
  line-height: 2rem;
}

.video1-style {
  grid-column: 1/3;
}

.video2-style {
  grid-column: 3/5;
}

.img1-style {
  grid-column: 1/2;
}

.img2-style {
  grid-column: 2/3;
}

.img3-style {
  grid-column: 3/4;
}

.img4-style {
  grid-column: 4/5;
}
