/* font used */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 100%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 75%;
}

@font-face {
  font-family: 'MonaSansBold';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 500;
  font-stretch: 125%;
}

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('../../font/Druk-Bold-Trial.otf') format('truetype');
}
/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: 'Montserrat', sans-serif;
  --drukBoldTrial: 'DrukBoldTrial';
  --monasansLightNarrow: 'MonaSansLightNarrow';
  --monaSansLight: 'MonaSansLight';
  --monaSansBold: 'MonaSansBold';
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #2b2730;
}

/* lenis scrool css setup  ------------------------------------------*/

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* navbar sections ---------------------------------------------------------- */

.opening-animation {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}

.opening {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  font-family: var(--monaSansBold);
  font-size: 7rem;
  z-index: 5;
  color: #2b2730;
  transform: translateY(0);
}

.loader {
  position: absolute;
  background: #2b2730;
  width: 0;
  height: 0.5vh;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transform-origin: left;
}

/* web development --------------------------------------------------------------- */

#web-development {
  position: relative;
  width: 100vw;
  color: var(--darkWhiteColor);
  background: #2b2730;
  z-index: 15;
  padding-bottom: 8rem;
}

.web-development-title-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5rem 10% 3rem 10%;
  gap: 3rem;
}

.title-uiux {
  font-size: calc(4rem + 1vw);
  font-family: var(--drukBoldTrial);
  transform: translateY(0);
  opacity: 1;
  transform-origin: bottom;
}

.title-paragraph {
  color: rgba(255, 255, 255, 1);
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: translateY(0);
  opacity: 0.5;
  line-height: 3rem;
}

/* web development 2 --------------------------------------------------------------- */

.web-development-img {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.narasihistorian-image,
.antavalley-img,
.agungv2-img,
.khairaskincare-img {
  position: relative;
  overflow: hidden;
}

.narasihistorian-image img,
.antavalley-img img,
.agungv2-img img,
.khairaskincare-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1;
}

.narasihistorian {
  grid-column: 1/2;
}

.khairaskincare {
  grid-column: 2/3;
}

.agungv2 {
  grid-column: 1/2;
}

.antavalley {
  grid-column: 2/3;
}

/* web development 3 --------------------------------------------------------------- */

.narasihistorian-hyperlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  gap: 1.5rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.narasihistorian-hyperlink h1 {
  font-size: calc(0.5rem + 1vw);
  font-family: var(--montserratFont);
  transform: translateY(0);
  opacity: 1;
}

.narasihistorian-hyperlink h6 {
  font-size: calc(0.3rem + 0.5vw);
  font-family: var(--monaSansLight);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(0);
  opacity: 1;
  padding: 0 1rem;
}

.link img {
  width: 15px;
  height: 15px;
}

.heading-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.heading-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20px;
}

.heading-container p {
  font-size: calc(0.5rem + 0.5vw);
  line-height: 2rem;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: translateY(50%);
}

.video-blur-reverse {
  filter: grayscale(70%);
}

/* motion graphic --------------------------------------------------------------- */

#motion {
  position: relative;
  width: 100vw;
  color: var(--darkWhiteColor);
}

.gallery-motion-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 3rem 10% 10rem 10%;
  border-top: 1px solid rgb(95, 95, 95);
}

.gallery-motion {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}

.motion-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title-motion {
  font-size: calc(4rem + 1vw);
  font-family: var(--drukBoldTrial);
  transform: translateY(0);
  opacity: 1;
}

.paragraph-motion {
  color: rgba(255, 255, 255, 1);
  font-size: calc(1rem + 0.5vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: translateY(0);
  opacity: 0.5;
  line-height: 3rem;
}

.video1-style,
.video2-style {
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.blur-reverse {
  filter: grayscale(70%);
}

.img1-style,
.img2-style,
.img3-style,
.img4-style {
  overflow: hidden;
}

.img1-style img,
.img2-style img,
.img3-style img,
.img4-style img {
  position: relative;
  width: 100%;
  height: 100%;
  scale: 1;
  opacity: 1;
}

.video1-style {
  grid-column: 1/3;
}

.video2-style {
  grid-column: 3/5;
}

.img1-style {
  grid-column: 1/2;
}

.img2-style {
  grid-column: 2/3;
}

.img3-style {
  grid-column: 3/4;
}

.img4-style {
  grid-column: 4/5;
}

.back-to-mainmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.back-to-mainmenu-svg {
  width: 3%;
}

.back-to-mainmenu-svg img {
  width: 100%;
}

.back-to-mainmenu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: calc(1rem + 1vw);
  font-family: var(--drukBoldTrial);
  border-bottom: 2px solid white;
}
