/* font used */

@font-face {
  font-family: 'NelaSlabMedium';
  src: url('../../font/NelaSlab\ Medium.ttf') format('truetype');
}

/* mona font -------------------------------------------------------------- */

@font-face {
  font-family: 'MonaSansLight';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 125%;
}

@font-face {
  font-family: 'MonaSansLightNarrow';
  src: url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../font/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200;
  font-stretch: 100%;
}

/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --poppinsFont: 'Poppins', sans-serif;
  --montserratFont: 'Montserrat', sans-serif;
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #eeeeee;
}

/* lenis scrool css setup  ------------------------------------------*/

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* navbar sections ---------------------------------------------------------- */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 10vh;
  padding: 0 5%;
  z-index: 20;
}

.logo-navbar-gallery-about {
  font-family: var(--montserratFont);
  font-size: calc(0.5rem + 1vw);
  letter-spacing: 0.2rem;
  background: rgba(30, 24, 24, 0.1);
  backdrop-filter: blur(82px);
  padding: 1rem 3rem;
  border-radius: 10rem;
}

.logo-navbar-gallery-about a {
  text-decoration: none;
  color: var(--blackColor);
}

.logo-navbar-gallery-about a:hover {
  color: var(--whiteColor);
}

/* poster --------------------------------------------------------------- */

#poster {
  position: relative;
  width: 100vw;
}

.gallery-poster-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20rem 5% 5rem 5%;
}

.gallery-poster {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}

.gallery-poster h1,
.gallery-poster p {
  overflow: hidden;
}

.poster-title span {
  display: block;
}

.poster-title-main {
  font-size: calc(7rem + 1vw);
  font-family: var(--montserratFont);
  opacity: 0;
}

.poster-title-submain {
  font-size: calc(0.3rem + 1vw);
  font-family: var(--poppinsFont);
  padding: 2rem 0 3rem 0;
  opacity: 0;
  border-bottom: 1px solid black;
}

.poster-1,
.poster-2,
.poster-3,
.poster-4,
.poster-5,
.poster-6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  opacity: 0;
}

.poster-title {
  grid-column: 1/4;
  padding: 0 0 5rem 0;
}

.poster-1 {
  grid-column: 1/2;
}

.poster-2 {
  grid-column: 2/3;
}

.poster-3 {
  grid-column: 3/4;
}

.poster-4 {
  grid-column: 1/2;
}

.poster-5 {
  grid-column: 2/3;
}

.poster-6 {
  grid-column: 3/4;
}

/* vector ------------------------------------------------------------ */

#vector {
  position: relative;
  width: 100vw;
}

.gallery-vector-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20rem 5% 5rem 5%;
}

.gallery-vector {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}

.vector-title h1 {
  font-size: calc(7rem + 1vw);
  font-family: var(--montserratFont);
}

.vector-title p {
  font-size: calc(0.3rem + 1vw);
  font-family: var(--poppinsFont);
  padding: 2rem 0 3rem 0;
  border-bottom: 1px solid black;
}

.vector-1,
.vector-2,
.vector-3,
.vector-4,
.vector-5,
.vector-6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.vector-title {
  grid-column: 1/5;
  padding: 0 0 5rem 0;
}

.vector-1 {
  grid-column: 1/2;
  grid-row: 2/4;
}

.vector-2 {
  grid-column: 2/5;
  grid-row: 2/4;
}

.vector-3 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.vector-4 {
  grid-column: 1/2;
}

.vector-5 {
  grid-column: 3/4;
}

.vector-6 {
  grid-column: 4/5;
}

/* video  ---------------------------------------------------------------- */

#video {
  position: relative;
  width: 100vw;
}

.gallery-video-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20rem 5% 5rem 5%;
}

.gallery-video {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}

.gallery-video h1 {
  font-size: calc(7rem + 1vw);
  font-family: var(--montserratFont);
}

.gallery-video p {
  font-size: calc(0.3rem + 1vw);
  font-family: var(--poppinsFont);
  padding: 2rem 0 3rem 0;
  border-bottom: 1px solid black;
}

.video-1,
.video-2,
.video-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.video-title {
  grid-column: 1/4;
  padding: 0 0 5rem 0;
}

.video-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.video-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.video-3 {
  grid-column: 3/4;
  grid-row: 2/3;
}

/* ui ux web design ------------------------------------------------------------ */

#narasihistorian-web {
  position: relative;
  width: 100vw;
}

.gallery-narasihistorian-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20rem 5% 5rem 5%;
}

.gallery-narasihistorian {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
}

.narasihistorian-title h1 {
  font-size: calc(7rem + 1vw);
  font-family: var(--montserratFont);
}

.narasihistorian-title p {
  font-size: calc(0.3rem + 1vw);
  font-family: var(--poppinsFont);
  padding: 2rem 0 3rem 0;
  border-bottom: 1px solid black;
}

.narasihistorian-about h1,
.mybiography-about h1 {
  font-size: calc(3rem + 1vw);
  font-family: 'MonaSansLightNarrow';
}

.narasihistorian-about p,
.mybiography-about p {
  font-size: calc(0.3rem + 1vw);
  font-family: var(--poppinsFont);
  padding: 2rem 0 3rem 0;
}

.narasihistorian-about span a,
.mybiography-about span a {
  color: var(--blackColor);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid black;
}

.narasihistorian-1,
.narasihistorian-2,
.narasihistorian-3,
.narasihistorian-4,
.biography-1,
.biography-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.narasihistorian-title {
  grid-column: 1/3;
  padding: 0 0 5rem 0;
}

.narasihistorian-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.narasihistorian-2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.narasihistorian-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.narasihistorian-4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.narasihistorian-about {
  grid-column: 1/3;
  grid-row: 4/5;
  padding: 5rem 0 5rem 0;
  border-bottom: 1px solid black;
}

/* vector portfollio ------------------------------------------------------------ */

.mybiography-about {
  grid-column: 1/3;
  grid-row: 7/8;
  padding: 5rem 0 5rem 0;
}

.biography-1 {
  grid-column: 1/2;
  grid-row: 5/6;
  padding: 5rem 0 0 0;
}

.biography-2 {
  grid-column: 2/3;
  grid-row: 5/6;
  padding: 5rem 0 0 0;
}
