/* font used */

@font-face {
  font-family: "NelaSlabMedium";
  src: url("../../font/NelaSlab\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NelaSlabLight";
  src: url("../../font/NelaSlab\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "DrukBold";
  src: url("../../font/Druk-Bold-Trial.otf") format("opentype");
}

@font-face {
  font-family: "DrukMedium";
  src: url("../../font/Druk-Medium-Trial.otf") format("opentype");
}

:root {
  font-size: 62.5%;

  /* colour */
  --blackColor: black;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
  --nelaSlabLightFont: "NelaSlabLight";
  --drukBoldFont: "DrukBold";
  --drukMediumFont: "DrukMedium";
  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar sections ---------------------------------------------------------- */

.burger-gallery-about span {
  width: 100%;
  height: 100%;
}

.menu-navbar-gallery-about li {
  padding: 2.5rem 7rem 2.5rem 4rem;
}

/* about link sections css -------------------------------------------------*/

.img-photo-agung {
  height: 100%;
}

.img-photo-agung img {
  height: 150%;
  padding: 15% 0 0 0;
}

.description-cv {
  padding: 0 10%;
}

.title-cv {
  font-size: calc(3rem + 1vw);
}

.description-cv p {
  font-size: calc(0.5rem + 1vw);
}

.cv-btn-about {
  font-size: calc(0.5rem + 1vw);
  width: 50%;
}

/* galery link sections css ------------------------------------------------- */

.title-gallery {
  font-size: calc(5.5rem + 1vw);
}
