/* font used */

@font-face {
  font-family: 'NelaSlabMedium';
  src: url('../../font/NelaSlab\ Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NelaSlabLight';
  src: url('../../font/NelaSlab\ Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DrukBold';
  src: url('../../font/Druk-Bold-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'DrukMedium';
  src: url('../../font/Druk-Medium-Trial.otf') format('opentype');
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: 'NelaSlabMedium';
  --nelaSlabLightFont: 'NelaSlabLight';
  --drukBoldFont: 'DrukBold';
  --drukMediumFont: 'DrukMedium';
  --poppinsFont: 'Poppins', sans-serif;
  --montserratFont: 'Montserrat', sans-serif;
}

/* default settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar sections ---------------------------------------------------------- */

.burger-gallery-about span {
  width: 100%;
  height: 100%;
}

.menu-navbar-gallery-about li {
  padding: 2.5rem 7rem 2.5rem 4rem;
}

/* poster ------------------------------------------------- */

.gallery-poster-container {
  padding: 25% 10%;
}

.gallery-poster {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.poster-title-main {
  font-size: calc(2.5rem + 1vw);
}

.poster-title-submain {
  font-size: calc(0.5rem + 1vw);
  width: 80%;
}

.poster-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.poster-1 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.poster-2 {
  grid-column: 1/2;
  grid-row: 2/3;
  bottom: 0;
}

.poster-3 {
  grid-column: 2/4;
  bottom: 0;
}

/* vector ------------------------------------------------------------ */

.gallery-vector-container {
  padding: 25% 10%;
}

.vector-title h1 {
  font-size: calc(3rem + 1vw);
}

.vector-title p {
  font-size: calc(0.5rem + 1vw);
}

/* video ------------------------------------------------- */

.gallery-video-container {
  padding: 25% 10%;
}

.gallery-video {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.gallery-video h1 {
  font-size: calc(3rem + 1vw);
}

.gallery-video p {
  font-size: calc(0.5rem + 1vw);
  width: 60%;
}

.video-title {
  padding-top: 5rem;
}

/* closing sections ------------------------------------------------------- */

.closing-container-gallery {
  padding: 10rem 5rem;
}

.text-title-gallery h1 {
  font-size: calc(3rem + 1vw);
}

/* contact sections -------------------------------------------------------------- */

.text-wa-gallery p,
.text-email-gallery p,
.text-readcv-gallery p,
.text-readportfolio-gallery p,
.text-downloadhardcopy-gallery p,
.text-backhome-gallery p {
  font-size: calc(0.5rem + 1vw);
}
